.cont_notice{
  margin-top: 100px;
}
.tit_notice {
  padding-top: 60px;
  margin-bottom: 20px;
}

h2{
  font-size: 28px;
}

.wrap_button {
  text-align: right;
  margin-bottom: 30px;
  font-size: 0;
}

.wrap_button a {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  width: 80px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 0.9rem;
}


.wrap_button a:hover {
  text-decoration: none;
}

.wrap_button a:first-child {
  margin-left: 0;
}

.btn_type1 {
  background-color: #000;
  color: #fff;
}
