/* frame.css - 사이트의 프레임(상단 header 영역과 하단 footer 영역의 CSS 스타일 지정 */


header {
  /* 상단영역 배경 */
  padding: 5px 0;
  background-color: white;
  border-bottom: solid 2px #3E8CEC;
  position: fixed;
  /* 상단 메뉴 움직이게 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: 0.5s;
}

main {
  /* 메인영역 길이 */
  min-height: 100vh;
  background-color: rgb(214, 230, 245);
}

footer {
  /* 하단영역 배경 */
  background-color: rgb(210, 199, 199);
  width: 100%;
  padding: 14.3px 0;
}

.siteWidth {
  margin: 0 auto;
  width: 1280px;
}

.cont_frame {
  /* 상단 헤더 영역 및 하단 푸터 영역 구조  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  /* 로고 옵션 */
  display: inline-block;
}

.img_logo {
  /* 상단영역 로고 */
  width: 100px;
}

.cont_menu {
  /* 상단영역 메뉴 배치 */
  display: flex;
  position: relative;
}

.cont_menu>li {
  /* 상단영역 메뉴 배치 */
  list-style-type: none;
  margin-right: 20px;
}

.cont_menu>li:last-child {
  margin-right: 0;
}

.cont_menu>li>a {
  /* 상단영역 메뉴 디자인 */
  padding: 16px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(113, 138, 112);
  font-family: 'KCCChassam';
}

.cont_menu>li>a:hover {
  /* 상단영역 메뉴 마우스 올렸을 때 */
  background-color: #ca5bec57;
  text-decoration: none;
}

.cont_menuKategorie {
  /* 상단영역 판매 캐릭터 상세메뉴 디자인 */
  display: none;
  list-style-type: none;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.cont_menuKategorie li {
  /* 상단영역 판매 캐릭터 상세메뉴 디자인 */
  margin: 12px 0;
}

.cont_menuKategorie li:first-child {
  /* 상단영역 판매 캐릭터 상세메뉴 디자인 */
  margin-bottom: 24px;
}

.wrap_menuKategorie:hover .cont_menuKategorie {
  display: block;
}

.cont_menuKategorie a {
  padding: 12px 70px 12px 16px;
  font-weight: bold;
  color: rgb(113, 138, 112);
  text-decoration: none;
  font-family: 'KCCChassam';
}
.cont_menuKategorie a:hover {
  /* 상단영역 판매 캐릭터 상세메뉴 마우스 올렸을 때 */
  background-color: #ca5bec57;
}

.wrap_info p {
  /* footer 정보 영역 속성 */
  color: gray;
  font-size: 0.8rem;
  font-family: 'KCCChassam';
}

footer img {
  /* 하단영역 마스코트 위치설정 */
  margin-left: auto;
  width: 250px;
}

.copyright {
  /* 하단영역 카피라이트 문구 */
  text-align: center;
  font-size: 0.8rem;
  color: gray;
  font-family: 'KCCChassam';
}