#container{   /* body 전체 영역을 포지션. */
  min-height: 100vh; /* 화면 크기가 커져도 footer가 가장 아래에 있도록 함 */
  position: relative; /* 기준이 되는 부모 포지션. */
}
header {/* 상단영역 배경 */
  padding: 18px 0;
  background-color: #92D050;
  position: fixed; /* 상단 메뉴 움직이게 */
  top: 0;
  left: 0;
  right: 0;
}
main{
  min-height: 100vh;
}
footer{/* 하단영역 배경 */
  background-color: #92D050;
  width: 100%;
  padding: 14.3px 0;
}
.siteWidth{
  margin: 0 auto;
  width: 80%;
}
.cont_frame{/* 상단 헤더 영역 및 하단 푸터 영역 구조  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 { /* 로고 옵션 */
  display: inline-block;
}
.img_logo{ /* 상단영역 로고 */
  width: 150px; 
}
header ul{/* 상단영역 메뉴 배치 */
  display: flex;
}
header ul>li{ /* 상단영역 메뉴 배치 */
  list-style-type: none;
  margin-right: 20px;
}.wrap_info p{/* footer 정보 영역 속성 */
  color: gray;
  font-size: 12px;
}
footer img{ /* 하단영역 마스코트 위치설정 */
  margin-left: auto;
  width: 250px;
}
.copyright{ /* 하단영역 카피라이트 문구 */
  text-align: center;
  font-size: 12px;
  color: gray;
}