/* index.css - 메인 페이지의 CSS 스타일을 지정 */
*{
  font-family: 'KCCChassam';
}

img{
  display: inline-block;
}
header{ /* 메인페이지 헤더 투명하게 */
  background-color: rgba(255, 255, 255, 0);

}
.wrap_mainSlide{ /* 슬라이드를 넘어서는 길이는 잘라버리기 */
  overflow: hidden;
}
.cont_mainSlide{ /* 메인 슬라이더 세팅 */
  width: 400vw;
  font-size: 0;
  transition: 0.5s;
}
.box{ /* 메인슬라이더 한 칸 */
  display: inline-block;
  width: 100vw;
  height: 800px;
  position: relative;
}
.charactor{
  position: relative;
}
.charactor img:first-child{ /* 광고 캐릭터 */
  width: 400px;
  height: 800px;
  object-fit: contain;
}
.playPause{ /* 슬라이더 정지버튼 */
  width: 70px;
  height: 70px;
  position: absolute;
  top: 62px;
  left: 5px;
  cursor: pointer;
}

.cont_welcome{ /* 메인 글귀, 버튼, 광고 캐릭터 */
display: flex;
justify-content: center;
}
.cont_mainText{ /* 메인 글귀, 버튼 */
  margin: auto 193px auto 0;;
  flex-basis: 450px;
  position: relative;
}
.cont_mainText > strong{ /* 메인 글귀 */
  font-size: 4rem;
}
.cont_mainText > p{
  margin-top: 15px;
  font-weight: bold;
}
.btn_linkCharactor{/* 슬라이드 내부 링크버튼(캐릭터 보러가기, 다른 캐릭터 보러가기) */
  margin-top: 100px;
}
.btn_linkCharactor a{
  padding: 20px;
  border-radius: 5px;
  background-color: black;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.btn_linkCharactor a:first-child{
  padding: 20px 42.5px;
}
.btn_slideLeft, .btn_slideRight{ /* 슬라이더 좌 우 이동 버튼 */
  cursor: pointer;
  position: absolute;
}
.btn_slideLeft{ /* 슬라이더 좌측 이동 버튼 */
  width: 60px;
  height: 100px;
  top: 50%;
  left: -130px;
}
.btn_slideRight{/* 슬라이더 우측 이동 버튼 */
  width: 60px;
  height: 100px;
  top: 50%;
  right: -130px;
}