header{
  background-color: rgba( 255, 255, 255, 0);

}
.wrap_mainSlide{
  overflow: hidden;
}
.cont_mainSlide{
  width: 400vw;
  white-space: nowrap;
  font-size: 0;
  transition: 0.5s;
  position: relative;
}
.box{
  display: inline-block;
  width: 100vw;
  height: 800px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
}
.wrap_slider1{
  background-image: url("../images/Sansin_Grandpa.png");
  background-size: contain;
}
.wrap_slider2{
  background-image: url("../images/madness_queen.png");
  background-size: contain;
}
.wrap_slider3{
  background-image: url("../images/mascot.png");
  background-size: 400px;
  background-position: bottom 70px right 100px;
}
.wrap_slider4{
  background-image: url("../images/doni.png");
  background-size: 400px;
  background-position: bottom 100px right 100px;
}
.btn_slideLeft, .btn_slideRight{
  cursor: pointer;
  position: absolute;
}
.btn_slideLeft{
  width: 60px;
  height: 100px;
  top: 50%;
  left: 0px;
}
.btn_slideRight{
  width: 60px;
  height: 100px;
  top: 50%;
  right: 0;
}