/* intro.css - 사이트 소개 페이지의 CSS 스타일 지정 */

.wrap_intro {
  margin-top: 53px;
  /* 메인영역이 상단 메뉴바에 안가려지게  + 메인 영역 포지션 잡기*/
}

.cont_intro {
  text-align: center;
  font-weight: bold;
}
.cont_intro>h2{
  padding-top: 60px;
  margin-bottom: 45px;
  margin-left: 13%;
  text-align: left;
  font-size: 36px;
}
.tit_logo{
  padding-top: 30px;
}
.tit_distance{
  margin-top: 50px;
}
.img_introLogo {
  display: inline-block;
  margin-bottom: 63px;
  width: 191.76px;
  height: 82.04px;

}

.cont_siteColor {
  margin-bottom: 41px;
}

.wrap_circle {
  display: inline-block;
  width: 95.54px;
  height: 95.54px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.wrap_circle span {
  position: absolute;
  left: 11.645px;
  font-size: 20px;
}
.circle{
  top: 32.77px;
}
.scatch_green{
  top: 23px;
}
.blue {
  background-color: #3E8CEC;
}

.purple {
  background-color: #C95BEC;
}
.green {
  background-color: rgb(113, 138, 112);
}

.cont_introMastcot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom:100px;
}

.cont_introMastcot>img {
  width: 350px;
}

.cont_mascotText {
  flex-basis: 350px;
  margin-left: 20px;
  text-align: left;
}

.cont_mascotText>h3 {
  margin-bottom: 30px;
  font-size: 28px;
}

.cont_mascotText>p {
  margin-bottom: 15px;
  color: gray;
  font-size: 13px;
}