.wrap_join{ /* 회원가입 창 + 둘러싸고 있는 window 창 까지 포지션 */
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.cont_join{ /* 회원가입 창 포지션 */
  margin-top: 50px;
  padding: 20px;
  border: 2px solid ;
}
legend{ /* 회원가입 창 제목 */
  text-align: center;
}
.cont_error{ /* 에러메시지 색깔 */
  color: red;
}
.cont_error span{ /* 에러 메시지 글자 크기 */
  font-size: 12px;
}
.wrap_fold{/* 에러메시지, 성공메시지 접고 펼치기 */
  display: none;
}
.wrap_success{/* 성공 메시지 색깔 */
  color: green;
}
.wrap_success span{/* 성공 메시지 글자 크기 */
  font-size:  12px;
}
.btn_signUp{ /* 회원가입 버튼 */
  display: block;
  margin-top: 20px;
  margin-left: auto;
}