p{
  font-size: 12px;
}
.wrap_join{
  display: flex;
  justify-content: center;
}
.cont_join{
  margin: 150px 20px 300px;
  padding: 20px;
  border: 2px solid ;
}
legend{
  text-align: center;
}
.cont_birth{
  display: flex;
}
.signUpButton{
  display: block;
  margin-top: 20px;
  margin-left: auto;
}
.error{
  color: red;
}
.fold{
  display: none;
  font-size: 12px;
}
.success{
  color: green;
}