/* kategorie.css - 카테고리 1,2의 CSS 스타일 지정 */

h2{
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
  font-family: 'KCCChassam';
}
.wrap_btnPage {
  margin-top: 70px;
  padding-bottom: 30px;
}
.cont_allKategori ul{
  margin-bottom: 20px;
}
.cont_allKategori ul:last-child{
  margin-bottom: 0;
}