/* login.css - 로그인 페이지의 CSS 스타일 지정 */


.wrap_login{ /* 로그인 영역 전체 포지션(로그인창이 있는 window창 포함) */
  display: flex;
  justify-content: center;
  margin-top: 53px;
}
.cont_login{ /* 로그인창 영역 */
  display: flex;
  flex-wrap: wrap;
  flex-basis: 31%;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 300px;
  padding: 33px;
  text-align: center;
  border-radius: 30px;
  border: none;
  background-color: #3E8CEC;
  color: white;
}
.cont_login legend{ /* 로그인에 대한 제목 */
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}
.wrap_uid{
  margin-right: 10px;
}
label{
  font-family: 'KCCChassam';
}
input[type=text], input[type=password]{
  margin: 10px 0;
  padding: 10px;
  width: 270px;
  height: 37px;
  border: 1px solid #3E8CEC;
  border-radius: 10px;
  outline: none;
}
button{
  width: 333px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-family: 'KCCChassam';
}
.btn_login{
  margin: 30px 0 25px;
  cursor: pointer;
}
.cont_login > ul{ /* 아이디/비밀번호찾기/ 회원가입 */
  display: inline-flex;
  list-style-type: none;
}

.cont_other a{
  color: white;
  font-family: 'KCCChassam';
}
.dot {
  position: relative;
  margin: 0 4px;
}
.dot:before {
  content: '·';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
}
.cont_login li::after{ /* 아이디 비밀번호찾기, 회원가입 사이의 '|' 표시 */
  content: '｜';
  color: white;
}
.cont_login li:last-child::after{ /* 마지막 자식엔 '|' 표시 안되게 */
  content: '';
}

.cont_error{ /* 에러메시지 색깔 */
  color: rgb(200, 50, 50);
}
.cont_error span{ /* 에러메시지 글자 크기 */
  font-size: 12px;
}
.wrap_fold{ /* 접어둔 에러메시지 펼치기 */
  display: none;
}

