/* 캐릭터 판메 페이지의 CSS 스타일 지정 */

h2{
  margin-bottom: 60px;
}
.tit_kategori{
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}
h3{
  display: inline-block;
  font-size: 22px;
}
.tit_more {
  float: right;
  clear: both;
  margin-right: 12px;
  position: relative;
}
.tit_more::after {
  display: inline-block;
  content: "";
  background: url(../images/right.png) no-repeat;
  background-size: 22px;
  width: 14px;
  height: 20px;
  position: absolute;
  top: 0.5px;
}
.cont_kategoriBlock{
  padding-bottom: 60px;
}