/* marketFrame.css - 캐릭터 판매 페이지, 카테고리1, 카테고리 2 의 기본 틀 CSS 스타일 지정 */

.cont_market {
  margin-top: 53px;
}
h2{
  padding-top: 60px;
  font-size: 28px;

}
.cont_allKategori a{
  display: inline-block;
}
.cont_allKategori li {
  display: inline-block;
  list-style-type: none;
}
.cont_allKategori img {
  width: 208px;
  height: 400px;
  object-fit: contain;
} 
.tit_post span {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}