/* 공지사항 게시물 페이지의 기본 CSS 스타일 지정 */

.wrap_noticePost{
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.tit_noticePost >p {
  padding: 20px 15px;
  font-size: 20px;
  border-bottom: 1px dashed #999;
}

.wrap_content{
  padding: 15px;
}
.wrap_delete{
  float: left;
  clear: both;
}