#container{
  min-height: 100vh;
  position: relative;
}
header {/* 상단영역 배경 */
  padding: 18px 0;
  background-color: #92D050;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
main{
  padding-bottom: 220px;
}
footer{/* 하단영역 배경 */
  background-color: #92D050;
  position:absolute;
  bottom: 0;
  width: 100%;
  padding: 14.3px 0;
}
.cont_frame{/* 상단 헤더 영역 및 하단 푸터 영역  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
h1 { /* 로고 */
  display: inline-block;
}
.wrap_logo{ /* 상단영역 로고 */
  width: 150px; 
}
header ul{/* 상단영역 메뉴 배치 */
  display: flex;
}
header ul>li{ /* 상단영역 메뉴 배치 */
  list-style-type: none;
  margin-right: 20px;
}
.cont_main{
  margin: 100px 20px 0px;
}
.cont_ad{/* 광고영역 */
  height: 300px;
  background-color: gray;
}
.cont_kategorie{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.kategorie{
  width: 250px;
  height: 500px;
  border: solid 1px blue;
}
.cont_contents{ /* 메인영역 임시로 */
  height: 500px;
  background-color: yellow;
}
.wrap_info{
  color: gray;
}
footer img{ /* 하단영역 마스코트 위치설정 */
  margin-left: auto;
  width: 300px;
}
.copyright{
  text-align: center;
  color: gray;
}